<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Insert new user</title>

</head>

<body>

    <div ng-app="myApp" ng-controller="formCtrl">
        <h1>Insert new user</h1>



        <form ng-submit="submit()" name="userForm" action="http://localhost:3000/usersView" method="GET">
            <p>Name:
                <input type="text" ng-model="name" name="name" ng-style="myStyle" /></p>
            Initials:
            <input type="text" ng-model="initials" name="initials" ng-style="myStyle2" />
            <br>
            <p>Eye color: <input type="text" ng-model="eyeColor" name="eyeColor" ng-style="myStyle4"></p>
            <p>Age: <input type="number" ng-model="age" name="age" ng-style="myStyle3"></p>
            <p>Guid: <input type="text" ng-model="guid" name="guid" ng-style="myStyle5"></p>
            <p>Mail: <input type="email" ng-model="email" name="email" ng-style="myStyle5"></p>
            <p>{{userForm.email.$valid}}</p>
            <input type="submit" id="submit" value="Submit" ng-style="Submit" />
            <pre>list={{users}}</pre>
        
        </form>

        <h1>You entered:</h1>
        <p> {{name}}</p>
        <p>{{initials}}</p>
        <p>{{eyeColor}}</p>
        <p> {{age}}</p>
        <p>{{guid}}</p>
        <p>{{email}}</p>


    </div>

    <script src="usersForm.js"></script>

</body>

</html>