<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Insert new user</title>
</head>

<body>

    <div ng-app="myApp" ng-controller="formCtrl">
        <form>
            <h1>Insert new user</h1>
            <p> Name: <input type="text" ng-model="name"> </p>
            <p>Initials: <input type="text" ng-model="initials"></p>
            <p>Eye color: <input type="text" ng-model="eyeColor"></p>
            <p>Age: <input type="text" ng-model="age"></p>
            <p>Guid: <input type="text" ng-model="guid"></p>
            <p>Mail: <input type="text" ng-model="guid"></p>
        </form>
        <h1>You entered:</h1>
        <p> {{name}}</p>
        <p>{{initials}}</p>
        <p>{{eyeColor}}</p>
        <p> {{age}}</p>
        <p>{{guid}}</p>
        <p>{{email}}</p>

        <form ng-submit="submit()">
            Enter text and hit enter:
            <input type="text" ng-model="name" name="name" />
            <input type="submit" id="submit" value="Submit" />
            <pre>list={{users}}</pre>
          </form>


    </div>

    <script src="usersForm.js"></script>

</body>

</html>